@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #070A0F;
}

.sw {
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75) !important;
}

.swv {
  box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.75) !important;
}

::-webkit-scrollbar {
  width: 0;
}